{
  "server": {
    "port": "8080"
  },
  "database": {
    "path": "/opt/ynxwxcb/data/ynxwxcb.db"
  },
  "jwt": {
    "secret": "PLEASE-CHANGE-THIS-TO-A-LONG-RANDOM-STRING-64-CHARACTERS-MINIMUM"
  },
  "upload": {
    "dir": "/opt/ynxwxcb/data/uploads",
    "max_mb": 50
  },
  "admin": {
    "username": "admin",
    "password": "admin123"
  }
}
